</header>
<p id="notice"><%= notice %></p>

<p>
  <b>Distance:</b>
  <%= @training.distance %>
</p>

<p>
  <b>Calories:</b>
  <%= @training.calories %>
</p>

<table>
    <tr>
      <td><b>Distance</b></td>
      <td><b>Calories</b></td>
    </tr>
    <% @user.trainings.each do |training| %>
    <tr>
      <td><%= training.distance %></td>
      <td><%= training.calories %></td>
    </tr>
    <% end %>
</table>

<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
