</header>
<section>
<div class="row">
	<h2>Sign in</h2>

	<div class="row sign_div">
		<div class="small-8 columns small-centred">
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
				<div class="row">
					<div class="large-6 columns">
				  		<%= f.label :email %><br />
				  		<%= f.email_field :email, :autofocus => true %>
					</div>

			  		<div class="large-6 columns">
				  		<%= f.label :password %><br />
				  		<%= f.password_field :password %>
					</div>
				</div>

		  		<div class="row large-4 columns " >
		  				<%= f.submit "Sign in", :class => "sign_button"%>
		  		</div>
			<% end %>
		</div>
	</div>

	<%= render "devise/shared/links" %>
</div>